<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    The text, images, and data on the Site, including but not limited to artwork, audio, video, images, graphics, icons,
    and software, and other information contained on the Site (collectively, the “Content”) are the property of the
    Association and/or the Association’s third-party content providers. The Association or the Association’s third-party
    content providers own all right, title, and interest in and
    to the Site and the Content of the Site.<br>
    <br>
    <strong>This website was made for educational purpoces only.</strong><br>
    <br>
    If you find that this website infringes upon the rights of others please contact me at: "RobertoMeer123@gmail.com"
    before pressing any legal charges!
</body>

</html>